<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site/css/style.css">
    <script src="/site/scripts/space-x.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Quick layout</p>
    <ul id="Launchpad List"></ul>
</body>
</html>