<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/site/css/style.css">
    <title>Launchpads</title>
</head>

<body>
    <div class="container">
        <h1>{{title}}</h1>
        <p>Launchpad List</p>
        <form id="form">
            <label for="name">Name:</label>
            <input type="text"
                id="name"
                required
                name="name">

            <label for="mission">Mission:</label>
            <input type="text"
                id="mission"
                required
                name="mission">

            <label for="locality">Locality:</label>
            <input type="text"
                id="locality"
                required
                name="locality">

            <label for="region">Region:</label>
            <input type="text"
                id="region"
                required
                name="region">

            <label for="launchpad-attempts">Launchpad Attempts:</label>
            <input type="text"
                id="launchpad-attempts"
                required
                name="launchpad-attempts">

            <label for="launchpad-successes">Launchpad Successes:</label>
            <input type="text"
                id="launchpad-successes"
                required
                name="launchpad-successes">

            <button type="button"
                onclick="addNewLaunchpad()">Add New Launchpad</button>
        </form>
        <ul id="launchpad-list">
            {{#each launchpadList}}
            <li>{{this}}</li>
            <button type="button">Delete Launchpad</button>
            {{/each}}
        </ul>
    </div>
    <script id="launchpad-template"
        type="text/x-handlebars-template">
        {{#each launchpadList}}
            <li>{{this}}</li>
            <button type="button">Delete Launchpad</button>
        {{/each}}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="/site/scripts/space-x.js"></script>
    <script src="/site/scripts/form-validation.js"></script>
</body>

</html>